//
   Created by Ricardo on 14/09/2016.

extends layout

block page_title
    title= 'Inserir Resultados'


block additional_header

block content
    include navigation-bar.jade

    .container-fluid

        h3
            = event.name

        h4
            = competition.name

        form(action='/competitions/results/' + event._id, method='post', role='form')
            .table-responsive
                table.table.table-striped
                    thead
                        tr
                            th Equipa
                            th Resultado*
                            th Desempate
                            th Scaled*
                    tbody
                        if teams != null
                            each t in teams
                                -var res = (t.result != null)? t.result.result : '';
                                -var tiebreak = (t.result != null)? t.result.tiebreak : '';
                                -var rx = (t.result != null)? t.result.rx : null;
                                tr
                                    td
                                        = t.name
                                    td
                                        input(type='hidden', name='id', value=t._id.toString())
                                        .input-group.input-group-sm
                                            input.form-control(type='text', name='result', value=res, placeholder='Tempo ou Reps')
                                    td
                                        .input-group.input-group-sm
                                            input.form-control(type='text', name='tiebreak', value=tiebreak, placeholder='Tempo ou Reps')
                                    td
                                        select.form-control(name='mode')
                                            option(value='RX', selected=rx) RX
                                            option(value='SCALED', selected=!rx) SCALED

            p
                | *Campos obrigatórios
            .btn-group
                button.btn.btn-success(type='submit') Submeter
